<div class="col-12">
<!-- PRUEBA 1 TEAMCITY-->
<%= puts filterrific.inspect %>
<%= form_for_filterrific(filterrific, url: welcome_results_path, html: {id: :manual_filterrific_form}) do |f| %>
  <div class="form-row">
    <div class="col-sm-3"  style="margin-left: -5px">
      <span class="fas fa-globe form-control-feedback"></span>
      <%= f.text_field :search_query, placeholder: "¿A dónde vas?", class: 'form-control', id: 'with_search_home' %>
    </div>
    <div class="col-lg-3"  style="margin-left: -5px">
      <span class="fa fa-calendar form-control-feedback"></span>
      <%= f.text_field(:with_date_gte, placeholder: "Fecha de entrada", class: 'input-sm form-control',
                       readonly: true,
                       :'id' => 'with_date_gte') %>
    </div>
    <div class="col-lg-3"  style="margin-left: -5px">
      <span class="fa fa-calendar form-control-feedback"></span>
      <%= f.text_field(:with_date_lte, placeholder: "Fecha de salida", class: 'input-sm form-control',
                       readonly: true,
                       :'id' => 'with_date_lte') %>
    </div>
    <div class="col-lg-3"  style="margin-left: -5px" data-toggle="popover" data-content="Por favor selecciona una fecha">
      <%= f.submit :Buscar, class: 'form-control btn btn-primary', :'id' => 'submit'%>
    </div>
  </div>
  <% end %>
</div>
<script>
    $(function () {
        $('#submit').on('click', (e) => {
            if ($('#with_date_gte').val() === '' || $('#with_date_lte').val() === '') {
                e.preventDefault();
                $('[data-toggle="popover"]').popover()
            }
        });
    });
</script>